body {
    margin: 0;
box-sizing: border-box;
    padding: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px; 
    margin-top: 15 px;
}

.creating-main {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.creating-main p {
    text-align: left;
}

.button {
display: inline-block;
text-align: center;
}

.button-container {
   display: flex;
   justify-content: center;
}


.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.question-block {
    width: 500px;
}

 .btn-holder {
    width: 150px;
    min-height: 30px;
    display: block;
    text-align: left;
    padding-left: 20px;
/* padding: 10 px 4px 10 px 4px; */
    margin-bottom: 8px;
    background-color: blue;
    color:white;
    border: 1px solid black;
    border-radius: 10px;
}

.hide {
    display: none;
}

.wrong-answer, .right-answer {
    width: 600px;
    border-bottom: 2px solid rgba(200, 200, 100, 0.6);
    padding-top: 5px;
    padding-bottom: 5px;
}

.anchor {
    text-decoration: none;
}

li {
    list-style-type: none;
    padding-bottom: 3px;
}